.contactContainer {
  background: linear-gradient(#8e7161, #755361);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-height: 550px) {
  .contactContainer {
    display: block;
  }
}

.contactContent {
    text-align: center;
}

.contactLogo {
    width: 20%;
    min-width: 200px;
    position: relative;
    left: 20px; /* visually center the logo */
    margin-bottom: 60px;
}

.contactEmail {
    margin-bottom: 60px;
}

.contactEmail p {
  color: white;
  font-size: 2em;
  letter-spacing: 3px;
  text-shadow: 1px 1px 3px black;
}

.contactLogoList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contactLogoList li {
    display: inline;
    margin: 0 20px;
    filter: grayscale(1);
    cursor: pointer;
    position: relative;
    bottom: 0;
    transition: all 200ms;
}

.contactLogoList li:hover {
    filter: grayscale(0);
    bottom: 10px;
}

.contactLogoList img {
    width: 6%;
    min-width: 70px
}

@media only screen and (max-width: 900px) {
  .contactEmail p {
    font-size: 1.25em;
  }
  .contactLogoList li {
    margin: 0 10px;
  }
}
