@keyframes dropIn {
  0% {
    transform: translateY(-100%);
    animation-timing-function: ease-in;
   }
  16% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  32% {
    transform: translateY(-30%);
    animation-timing-function: ease-in;
   }
  48% {
    transform: translateY(0);
    animation-timing-function: ease-out;
   }
  64% {
    transform: translateY(-20%);
    animation-timing-function: ease-in;
   }
  78% {
    transform: translateY(0);
    animation-timing-function: ease-out;
   }
  90% {
    transform: translateY(-7%);
    animation-timing-function: ease-in;
   }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
   }
}

.active {
  animation-name: dropIn;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
}

.activePage {
  width: 75%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.subActivePage {
  width: 75%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.pageContainer {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
