@keyframes fallIn {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

.activePage {
  width: 75%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.subActivePage {
  width: 75%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.pageContainer {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
