.homeContainer {
  background: linear-gradient(#367e96, #1d4f89);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-height: 550px) {
  .homeContainer {
    justify-content: flex-start;
  }
}

.homeContent {
  position: relative;
  bottom: 20px; /* visual centering */
}

.pixelLogo {
  text-align: center;
  margin-bottom: 20px;
}

.pixelLogo img {
    width: 250px;
    animation-name: spinIn;
    animation-duration: 750ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.speechBubble {
    position: relative; /* bubble arrow needs relative absolute positioning */
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.speechBubble p {
  font-size: 1.25em;
  line-height: 1.5em;
  color: #366289;
  text-align: center;
  padding: 40px;
}

.speechBubble:before { /* speech bubble arrow - create a triangle using a mix of visible and invisible borders */
    content: '';
    position: absolute;
    top: -30px;
    left: 55%; /* off center to line up with pixel logo mouth */
    transform: translateX(-50%);
    /* center the speech arrow */
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom: 30px solid white;
    border-top: 0;
}

@media only screen and (max-width: 900px) {
  .speechBubble p {
    font-size: 1em;
    padding: 25px;
  }
}
