.menuContainer {
  height: 100vh;
  width: 20%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}

.menuContainer ul {
  width: 60%;
  list-style: none;
}

.menuContainer ul li button {
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  background: white;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.25em;
  color: #021116;
  border: none;
  cursor: pointer;
}

.menuContainer ul li button:focus {
  outline: none;
}

.menuContainer ul li button:hover {
  background-color: #021116;
  color: white;
}

.menuContainer ul li:last-child {
  /* ensure proper centering */
  margin-bottom: 0;
}
