.menuContainer {
  height: 100vh;
  width: 20%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}

.menuContainer ul {
  width: 100%;
  list-style: none;
}

.menuContainer ul li button {
  width: 100%;
  padding: 20px;
  background: linear-gradient(transparent 50%, var(--darkBlue) 50%);
  background-size: 100% 200%;
  background-position: top;
  /* some devices had a single pixel leaking over the edge and the background wasn't fully hidden, creating a line. So 202% gives the background a buffer to prevent this */
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.25em;
  color: var(--darkBlue);
  border: none;
  cursor: pointer;
  transition: all 250ms;
}

.menuContainer ul li button:focus {
  outline: none;
}

.menuContainer ul li button:hover {
  background-position: bottom;
  color: white;
}

.mobileHamburger {
  width: 30px;
  height: 25px;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 5;
  cursor: pointer;
  display: none;
}

.hamBar {
  width: 100%;
  height: 20%;
  background-color: white;
  position: absolute;
  transition: all 600ms;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.3);
}

.middleBar {
  top: 50%;
  transform: translateY(-50%);
}

.bottomBar {
  bottom: 0;
}

@media only screen and (max-width: 900px) {
  .menuContainer {
    width: 100%;
    opacity: 0.95;
    transform: translateX(-100%);
    transition: all 600ms;
  }
  .onScreenMenu {
    transform: translateX(0);
  }
  .mobileHamburger {
    display: block;
  }
  .hamburgerClose .hamBar {
    background-color: var(--darkBlue);
  }
  .hamburgerClose .topBar,
  .hamburgerClose .bottomBar {
    opacity: 0;
  }
  .hamburgerClose .middleBarOne {
    transform: translateY(-50%) rotate(40deg);
    box-shadow: none;
  }
  .hamburgerClose .middleBarTwo {
    transform: translateY(-50%) rotate(-40deg);
    box-shadow: none;
  }
}
