.menuContainer {
  height: 100vh;
  width: 20%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}

.menuContainer ul {
  width: 100%;
  list-style: none;
}

.menuContainer ul li button {
  width: 100%;
  padding: 20px;
  background-color: white;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.25em;
  color: #021116;
  border: none;
  cursor: pointer;
}

.menuContainer ul li button:focus {
  outline: none;
}

.menuContainer ul li button:hover {
  background-color: #021116;
  color: white;
}

.mobileHamburger {
  width: 30px;
  height: 25px;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 5;
  cursor: pointer;
  display: none;
}

.hamBar {
  width: 100%;
  height: 20%;
  background-color: white;
  position: absolute;
  transition: all 600ms;
}

.middleBar {
  top: 50%;
  transform: translateY(-50%);
}

.bottomBar {
  bottom: 0;
}

@media only screen and (max-width: 480px) {
  .menuContainer {
    width: 100%;
    transform: translateX(-100%);
    transition: all 600ms;
  }
  .onScreenMenu {
    transform: translateX(0);
  }
  .mobileHamburger {
    display: block;
  }
  .hamburgerClose .hamBar {
    background-color: #021116;
  }
  .hamburgerClose .topBar,
  .hamburgerClose .bottomBar {
    opacity: 0;
  }
  .hamburgerClose .middleBarOne {
    transform: translateY(-50%) rotate(40deg);
  }
  .hamburgerClose .middleBarTwo {
    transform: translateY(-50%) rotate(-40deg);
  }
}
