.portfolioContainer {
    background: linear-gradient(#2e5492, #2e3192);
    overflow-y: auto;
}

.content {
  animation: fadeIn 1s 1;
}

.webpage {
    width: 50%;
    min-width: 500px; /* don't want them to shrink TOO much on medium size screens and tablets */
    border: 10px solid rgba(255, 255, 255, 0.5);
    position: relative; /* for the absolute positioning of hover effects */
    box-shadow: 0 -20px 40px rgba(0, 0, 0, 0.35);
    margin-left: auto;
    margin-right: auto;
    transform: perspective(1300px) rotateX(-15deg);
    transition: all 300ms;
    margin-bottom: -250px;
    margin-top: 0;
}

.webpage:last-child {
  margin-bottom: 0;
}

.webpages:hover .webpage {
  margin-top: 65px;
  margin-bottom: 65px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.35);
}

.webpage:hover {
  border: 10px solid white;
  transform: scale(1.05);
}

.webpage h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.webpage p {
  font-size: 1em;
  line-height: 1.25em;
}

.webpage img {
    width: 100%;
    display: block;
    z-index: 2;
}

.webpageInfo {
  padding: 25px;
  background-color: #0D1027;
  color: white;
}

.webpage button {
    border: 1px solid white;
    padding: 10px 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: 20px;
    color: white;
    background-color: transparent;
}

.webpage button:hover {
    background-color: white;
    color: black;
}
