.portfolioContainer {
    background: linear-gradient(#2e5492, #2e3192);
    overflow-y: auto;
}

.content {
  animation: fadeIn 1s 1;
  text-align: center;
}

.portfolioGitRepoButton {
  width: 50%;
  min-width: 600px;
  border: 1px solid white;
  margin-bottom: 100px;
  padding: 10px 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.portfolioGitRepoButton:hover {
  background-color: white;
  color: #0D1027;
}

.webpages {
  width: 100%;
  min-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.webpage {
    width: 50%;
    border: 10px solid rgba(255, 255, 255, 0.5);
    position: relative; /* for the absolute positioning of hover effects */
    box-shadow: 0 -20px 40px rgba(0, 0, 0, 0.35);
    margin-left: auto;
    margin-right: auto;
    transition: all 300ms;
    margin-bottom: -250px;
    margin-top: 0;
}

.webpage:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 900px) {
  .webpages:hover .webpage {
    border: 10px solid white;
    margin-bottom: 75px;
  }
  .webpage:hover {
    transform: scale(1.02);
  }
}

.webpage h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.webpage p {
  font-size: 1em;
  line-height: 1.25em;
}

.webpage img {
    width: 100%;
    display: block;
    z-index: 2;
}

.webpageInfo {
  padding: 25px;
  background-color: #0D1027;
  color: white;
}

.webpage button {
  width: 40%;
    border: 1px solid white;
    padding: 10px 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 25px 10px 0 10px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.webpage button:hover {
    background-color: white;
    color: #0D1027;
}

@media only screen and (max-width:900px) {
  .portfolioGitRepoButton {
    width: 75%;
    min-width: 250px;
    margin-bottom: 75px;
  }
  .webpages {
    min-width: 0;
  }
  .webpage {
    width: 100%;
    margin-bottom: 25px;
    border-width: 5px;
  }
  .webpage h2 {
    font-size: 1.5em;
  }
  .webpage p {
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 0.75px;
    line-height: 1.5em;
  }
  .webpage button {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
