.portfolioContainer {
    background: linear-gradient(#2e5492, #2e3192);
    overflow-y: auto;
}

.webpage {
    width: 50%;
    min-width: 500px; /* don't want them to shrink TOO much on medium size screens and tablets */
    border: 10px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* for the absolute positioning of hover effects */
    box-shadow: 0 -20px 40px rgba(0, 0, 0, 0.35);
    transition: all 250ms;
    margin-left: auto;
    margin-right: auto;
    transform: perspective(1300px) rotateX(-15deg);
}

.lanParty {
  margin-top: -50px;
  margin-bottom: -50px;
}

.webpages:hover .lanParty {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (min-width: 601px) { /* avoid hover effect on mobile devices */

    .webpage:hover {
        width: 60%;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
        transform: perspective(1000px) rotateX(0);
        border-color: white;
    }

}

.webpage img {
    width: 100%;
}

.webpageHover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* adds a darker tint over the web site */
    opacity: 0; /* not visible until hover */
    position: absolute;
    top: 0;
    left: 0;
    display: flex; /* for the sliding description within */
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden; /* hide the description until it slides into frame */
    transition: all 500ms;
}

@media only screen and (min-width: 400px) { /* removing hover effects on xs mobile devices */
    .webpageHover:hover {
        opacity: 1;
        transition-delay: 250ms;
    }
}

.webpageInfo { /* the information that slides in on hover */
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    color: white;
    padding: 30px 40px;
    position: relative;
    right: 75%; /* move it almost entirely offscreen but keep a little visible so when the opacity transition happens it's a little more visible - less jarring */
      transition: 750ms;
}

@media only screen and (min-width: 400px) { /* removing hover effects on xs mobile devices */
    .webpageHover:hover .webpageInfo {
        right: 0;
        transition-delay: 250ms;
    }
}

.fullSiteLink {
    border: 1px solid white;
    padding: 5px 10px;
    text-transform: uppercase;
    margin-top: 20px;
    color: white;
    background-color: transparent;
}

.fullSiteLink:hover {
    background-color: white;
    color: black;
}
